.hero-section {
  background: rgba(248, 241, 211, 0.25);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  background-image: url("/images/hero-bg1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-container {
  /* height: 70%; */
  display: flex;
  justify-content: space-around;
  align-items: end;
}
.text-container {
  width: 40%;
}
.text-container h4 {
  padding: 0;
  margin: 0;
}
.text-container h1 {
  font-size: 80px;
  padding: 0;
  margin: 0;
  font-style: normal;
  line-height: 85px;
}
.text-container h1 span {
  font-weight: 200;
}
.text-container p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
  margin-bottom: 30px;
}
.image-container {
  width: 40%;
}
.image-container img {
  width: 500px;
}

/* Hero Section Responsive styles */
@media only screen and (max-width: 1024px) {
  /* .image-container {
    display: none;
  } */

  .hero-section {
    align-items: start;
    height: 100vh;
  }
  .hero-container {
    /* height: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 20px;
  }
  .image-container {
    width: 100%;
  }
  .image-container img {
    width: 300px;
  }
  .text-container {
    width: 100%;
    /* margin-top: 150px; */
  }

  .hero-section {
    background-image: none;
  }
  .hero-container {
    justify-content: center;
    align-items: center;
  }
  .text-container p {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .text-container p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .text-container h1 {
    font-size: 60px;
    line-height: 55px;
  }
}

@media only screen and (max-width: 425px) {
  .text-container h1 {
    font-size: 40px;
    line-height: 45px;
  }
}
