.discountContainer {
  background-image: url("/images/hero-bg1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.discountWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.text_container {
  width: 40%;
}
.text_container h5 {
  padding: 0;
  margin: 0;
}
.text_container h4 {
  font-size: 30px;
  padding: 0;
  margin: 0;
  font-style: normal;
  line-height: 30px;
  padding: 10px 0;
}
.text_container h4 span {
  font-weight: 200;
}
.text_container ul {
  margin-left: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 20px;
}
.image_container {
  width: 40%;
}
.image_container img {
  width: 500px;
}

/* Discount Section Responsive styles */
@media only screen and (max-width: 1024px) {
  .image_container {
    display: none;
  }
  .text_container {
    width: 100%;
  }
  .discountContainer {
    background-image: none;
  }
}

@media only screen and (max-width: 425px) {
  .text_container h1 {
    font-size: 40px;
    line-height: 55px;
  }
  .discountWrapper {
    height: 60vh;
  }
}
