@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

/* CSS Reset */
html,
body,
ul,
ol,
h1,
h2,
h3,
h4,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background-color: #fff;
}

/* Color Variables */
:root {
  --primary: #f27a44;
  --black: #262626;
}

/* Basic Styles */
.container {
  width: 80%;
  margin: 0 auto;
}

/* Shared Styles */
.button {
  background-color: var(--primary);
  padding: 16px 32px;
  border-radius: 30px;
  border: transparent;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: black;
  transition: all ease-in-out 0.2s;
}
